
{%  extends 'base.html' %}
{% load static %}
{% block title %}Музыкальные группы{%  endblock %}
{% block body %}
    <div>
        {% for order in orders %}
            <div class="alert alert-success" role="alert">
                <!--<img src="static/image/book.jpg">-->
                <a href="#">
                    {{ order.name }} {{ order.date_create }}
                </a>
            </div>
        {% empty %}
            <li>пустой список</li>
        {% endfor %}
    </div>
{% endblock %}